<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Express</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Servidor express funcionando!</h1>

    {{{ body }}}
    
    <h3>Page end</h3>
    
</body>
</html>